<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Statistics</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

    <!-- angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/dataentry.css">
    <script src="/javascripts/main.js"></script>

</head>


<body ng-app="myapp" ng-controller="myctrl">
    <!-- <div class="wrapper "> -->

    <!-- ========================================= Sidebar ==========================================-->

    <div class="sidebar" data-color="orange">
        <div class="logo">
            <a href="/dashboard" class="simple-text logo-normal mini_logo">Photo Copy</a>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="/dashboard">
                        <i class="fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/dataentry">
                        <i class="fas fa-database"></i>
                        <p>Statistics</p>
                    </a>
                </li>
                <li>
                    <a href="/table">
                        <i class="fas fa-table"></i>
                        <p>Table List</p>
                    </a>
                </li>
                <li>
                    <a href="/userprofile">
                        <i class="far fa-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/complaints">
                        <i class="far fa-question-circle"></i>
                        <p>Complaints</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- =========================================== // Sidebar end ======================================-->

    <div class="main-panel" id="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute" style="padding-top: 25px">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="/dashboard"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <form>
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-3x fa-user-circle"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Account</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Edit Profile</a>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- ========================================= //End Navbar ======================================== -->

        <div class="panel-header panel-header-lg panel-header-sm" style="padding: 80px 0 30px 0;"></div></br>

        <!-- ================================================== statistics =======================================================-->

        <div class="container" style="background-color: wheat;margin-bottom: 80px;">
            <h1 class="hh">Enter Details Of Each Person</h1>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-sm-10" for="date"><b>Date:</b></label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="date" ng-model="info.Date">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-sm-10" for=""><b>Single Side Pages:</b></label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" placeholder="Enter Count" name=""
                                ng-model="info.Single_Side_Pages">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-sm-10" for=""><b>Double Side Pages:</b></label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" placeholder="Enter Count" name=""
                                ng-model="info.Double_Side_Pages">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-sm-10" for=""><b>Employee Name:</b></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Enter Name" name=""
                                ng-model="info.Employee_Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-sm-10" for=""><b>Employee Id:</b></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Enter Id" name=""
                                ng-model="info.Employee_Id">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-sm-10" for=""><b>Mobile Number:</b></label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" placeholder="Mobile Number" name=""
                                ng-model="info.Mobile_Number">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5" style="margin: 0 auto;">
                    <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-10">
                            <button type="button" class="btn btn-primary" ng-click="stat(info)">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================================================//statistics form =================================================== -->

    </div>

</body>

<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>

</html>