.form-control{
    border: 1px solid rgb(156, 153, 153);
    border-radius: 5px;
}

.form-group{
    padding-left: 30px;

}
.hh{
    text-align: center;
    color: orangered;
    padding-top: 10px;
}

/* .block{
    float: right;
    margin: 0 auto;
} */